In [68]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)

## Population by state

In [69]:

URL_DATA = './staging/bronze/state_population_bronze_data.parquet'

state_population = pd.read_parquet(URL_DATA)

if 'date' in state_population.columns:
    
    state_population['date'] = pd.to_datetime(state_population['date'])
    
    state_population['year'] = state_population['date'].dt.year

    state_population.drop(columns='date', inplace=True)


state_population = state_population[
    (state_population['sex'] == 'both') &
    (state_population['age'] == 'overall') & 
    (state_population['ethnicity'] == 'overall')
]

state_population['population'] = (state_population['population'] * 1000).astype(int)

state_population = state_population[["year", "state", "population"]]

state_population = state_population.rename(columns={
    'population': 'population_state'
})

state_population = state_population[~state_population['state'].isin(['W.P. Labuan', 'W.P. Putrajaya'])]

state_population['state'] = state_population['state'].replace({
    'W.P. Kuala Lumpur': 'Kuala Lumpur',
})

state_population

        year         state  population_state
0       1970         Johor           1325600
48      1971         Johor           1355400
96      1972         Johor           1385300
144     1973         Johor           1414500
192     1974         Johor           1444400
...      ...           ...               ...
241335  2021  Kuala Lumpur           1964000
241734  2022  Kuala Lumpur           1961200
242133  2023  Kuala Lumpur           2005700
242532  2024  Kuala Lumpur           2067500
242931  2025  Kuala Lumpur           2074100

[774 rows x 3 columns]

In [70]:
# save data
state_population.to_parquet("./staging/silver/state_population_silver_data.parquet", index=False)

## Population by national

In [71]:
URL_DATA = './staging/bronze/national_population_bronze_data.parquet'

national_population = pd.read_parquet(URL_DATA)

if 'date' in national_population.columns:
    
    national_population['date'] = pd.to_datetime(national_population['date'])
    
    national_population['year'] = national_population['date'].dt.year

    national_population.drop(columns='date', inplace=True)

national_population = national_population[
    (national_population['sex'] == 'both') &
    (national_population['age'] == 'overall') & 
    (national_population['ethnicity'] == 'overall')
]

national_population['population'] = (national_population['population'] * 1000).astype(int)

national_population = national_population[["year", "population"]]

national_population = national_population.rename(columns={
    'population': 'population_national',
})

national_population

       year  population_national
0      1970             10881800
48     1971             11159700
96     1972             11441300
144    1973             11719800
192    1974             12001300
240    1975             12300300
288    1976             12588100
336    1977             12901100
384    1978             13200200
432    1979             13518300
480    1980             13879300
750    1981             14256900
1020   1982             14651100
1290   1983             15048200
1560   1984             15450400
1830   1985             15882700
2100   1986             16329400
2370   1987             16773500
2640   1988             17219100
2910   1989             17662100
3180   1990             18102400
3450   1991             18547200
3849   1992             19067500
4248   1993             19601500
4647   1994             20141700
5046   1995             20681800
5445   1996             21222600
5844   1997             21769300
6243   1998             22333500
6642   1999             22909500
7041   2000             23494900
7440   2001             24030500
7839   2002             24542500
8238   2003             25038100
8637   2004             25541500
9036   2005             26045500
9435   2006             26549900
9834   2007             27058400
10233  2008             27567600
10632  2009             28081500
11031  2010             28588600
11430  2011             29062000
11829  2012             29510000
12228  2013             30213700
12627  2014             30708500
13026  2015             31186100
13425  2016             31633500
13824  2017             32022600
14223  2018             32382300
14622  2019             32523000
15021  2020             32447400
15420  2021             32576300
15819  2022             32698100
16218  2023             33401800
16617  2024             34052100
17016  2025             34231700

In [72]:
# save data
national_population.to_parquet("./staging/silver/national_population_silver_data.parquet", index=False)

## Inflation rate national

In [73]:

URL_DATA = './staging/bronze/inflation_national_bronze_data.parquet'

inflation_national = pd.read_parquet(URL_DATA)

if 'date' in inflation_national.columns:
    
    inflation_national['date'] = pd.to_datetime(inflation_national['date'])
    
    inflation_national['year'] = inflation_national['date'].dt.year

    inflation_national.drop(columns='date', inplace=True)
    
inflation_national = inflation_national[
    (inflation_national['division'] == 'overall')
]    

inflation_national = inflation_national[["year", "inflation"]]

inflation_national = inflation_national.rename(columns={
    'inflation': 'Inflation(%)'
})

inflation_national['Inflation(%)'] = inflation_national['Inflation(%)'].round(1)



inflation_national

    year  Inflation(%)
0   1961          -0.2
1   1962           0.1
2   1963           3.1
3   1964          -0.4
4   1965          -0.1
..   ...           ...
59  2020          -1.1
60  2021           2.5
61  2022           3.4
62  2023           2.5
63  2024           1.8

[64 rows x 2 columns]

In [74]:
# save data
inflation_national.to_parquet("./staging/silver/inflation_national_silver_data.parquet", index=False)

## Annual Real GDP by State & Economic Sector

In [75]:
URL_DATA = './staging/bronze/gdp_state_bronze_data.parquet'

gdp_state = pd.read_parquet(URL_DATA)

if 'date' in gdp_state.columns:
    
    gdp_state['date'] = pd.to_datetime(gdp_state['date'])
    
    gdp_state['year'] = gdp_state['date'].dt.year

    gdp_state.drop(columns='date', inplace=True)
    

gdp_state = gdp_state[
    (gdp_state['series'] == 'abs') &
    (gdp_state['sector'] == 'p0') &  
    (gdp_state['state'] != 'Supra') 
]

gdp_state = gdp_state.rename(columns={
    'value': 'gdp_per_state(RM)'
})

gdp_state['gdp_per_state(RM)'] = (gdp_state['gdp_per_state(RM)'] * 1000000).astype(int)

gdp_state = gdp_state[["year","state", "gdp_per_state(RM)"]]

gdp_state = gdp_state[~gdp_state['state'].isin(['W.P. Labuan', 'W.P. Putrajaya'])]

gdp_state['state'] = gdp_state['state'].replace({
    'W.P. Kuala Lumpur': 'Kuala Lumpur',
})

gdp_state

     year            state  gdp_per_state(RM)
0    2015            Johor       110002221000
7    2015            Kedah        39549581000
14   2015         Kelantan        21407736000
21   2015           Melaka        36077257000
28   2015  Negeri Sembilan        40185677000
..    ...              ...                ...
903  2023            Sabah        83196915000
910  2023          Sarawak       142351830000
917  2023         Selangor       406071453000
924  2023       Terengganu        38201414000
931  2023     Kuala Lumpur       249301544000

[126 rows x 3 columns]

In [76]:
test = gdp_state[gdp_state["year"] == 2022]
test

     year            state  gdp_per_state(RM)
735  2022            Johor       142369692000
742  2022            Kedah        50982123000
749  2022         Kelantan        26934566000
756  2022           Melaka        45579035000
763  2022  Negeri Sembilan        50939264000
770  2022           Pahang        61746204000
777  2022            Perak        80426886000
784  2022           Perlis         6209957000
791  2022     Pulau Pinang       112281052000
798  2022            Sabah        82106428000
805  2022          Sarawak       140698831000
812  2022         Selangor       385158798000
819  2022       Terengganu        37353840000
826  2022     Kuala Lumpur       240517538000

In [77]:
# save data
gdp_state.to_parquet("./staging/silver/gdp_state_silver_data.parquet", index=False)

## Annual Real GDP by national & Economic Sector

In [78]:


URL_DATA = './staging/bronze/gdp_national_bronze_data.parquet'

gdp_national = pd.read_parquet(URL_DATA)

if 'date' in gdp_national.columns:
    
    gdp_national['date'] = pd.to_datetime(gdp_national['date'])
    
    gdp_national['year'] = gdp_national['date'].dt.year

    gdp_national.drop(columns='date', inplace=True)

gdp_national = gdp_national[
    (gdp_national['series'] == 'abs')
]

gdp_national = gdp_national.rename(columns={
    'gdp': 'gdp_national(RM)',
    'gdp_capita': 'gdp_national_per_capita(RM)',
})

gdp_national['gdp_national(RM)'] = (gdp_national['gdp_national(RM)'] * 1_000_000).astype(int)
gdp_national['gdp_national_per_capita(RM)'] = (gdp_national['gdp_national_per_capita(RM)'] * 1_000_000).astype(int)

gdp_national = gdp_national[["year", "gdp_national(RM)", "gdp_national_per_capita(RM)"]]

gdp_national

    year  gdp_national(RM)  gdp_national_per_capita(RM)
0   1970       73709682000                   6773390000
1   1971       81106199000                   7265660000
2   1972       88720810000                   7751699000
3   1973       99102104000                   8455832000
4   1974      107346073000                   8941871000
5   1975      108205988000                   8798552000
6   1976      120718377000                   9589923000
7   1977      130077743000                  10082193000
8   1978      138732976000                  10509519000
9   1979      151703260000                  11223580000
10  1980      162992754000                  11743564000
11  1981      174307881000                  12226928000
12  1982      184667264000                  12604099000
13  1983      196213087000                  13039860000
14  1984      211442735000                  13684346000
15  1985      209274918000                  13175348000
16  1986      211871172000                  12973946000
17  1987      222871380000                  13286801000
18  1988      245019713000                  14229576000
19  1989      267217521000                  15128372000
20  1990      291289883000                  16090387000
21  1991      319094864000                  17203576000
22  1992      347446820000                  18223312000
23  1993      381826485000                  19479429000
24  1994      417000501000                  20702562000
25  1995      457987835000                  22145584000
26  1996      503798988000                  23737032000
27  1997      540690887000                  24836478000
28  1998      500899200000                  22428692000
29  1999      531642449000                  23206549000
30  2000      578739953000                  24632104000
31  2001      581735947000                  24208280000
32  2002      613097264000                  24981230000
33  2003      648586394000                  25903574000
34  2004      692582849000                  27116586000
35  2005      729512330000                  28008077000
36  2006      772180479000                  29084686000
37  2007      822219260000                  30387010000
38  2008      861746893000                  31259015000
39  2009      847648672000                  30185653000
40  2010      908628920000                  31782997000
41  2011      956730943000                  32920119000
42  2012     1009097173000                  34195510000
43  2013     1056461394000                  34966496000
44  2014     1119920092000                  36469753000
45  2015     1176941000000                  37739000000
46  2016     1229312000000                  38861000000
47  2017     1300769000000                  40620000000
48  2018     1363766000000                  42115000000
49  2019     1423952000000                  43783000000
50  2020     1346249000000                  41490000000
51  2021     1390882000000                  42696149000
52  2022     1514139000000                  46306600000
53  2023     1567974000000                  46942732000
54  2024     1648163000000                  48391738000

In [79]:
# save data
gdp_national.to_parquet("./staging/silver/gdp_national_silver_data.parquet", index=False)

## Labour force by state

In [80]:
URL_DATA = './staging/bronze/Labour_force_state_bronze_data.parquet'

Labour_force_state = pd.read_parquet(URL_DATA)

if 'date' in Labour_force_state.columns:
    
    Labour_force_state['date'] = pd.to_datetime(Labour_force_state['date'])
    
    Labour_force_state['year'] = Labour_force_state['date'].dt.year

    Labour_force_state.drop(columns='date', inplace=True)
    
Labour_force_state = Labour_force_state[
    (Labour_force_state['sex'] == 'both') 
]

Labour_force_state = Labour_force_state[["year", "state", "lf", "lf_employed", "lf_unemployed", "lf_outside", "u_rate"]].rename(columns={
    "lf": "labour_force_state",
    "lf_employed": "employed_persons_state",
    "lf_unemployed": "unemployed_persons_state",
    "lf_outside": "outside_labour_force_state",
    "u_rate": "unemployed_rate_state(%)"
})


# # interpolation
# # ===================================================


# Step 1: Define full year range and get all states
year_range = list(range(1982, 2024))
all_states = Labour_force_state['state'].unique()

# Step 2: Create full multi-index of (state, year)
full_index = pd.MultiIndex.from_product(
    [all_states, year_range], names=['state', 'year']
)

# Step 3: Set multi-index and reindex to fill missing years
Labour_force_state = Labour_force_state.set_index(['state', 'year']).reindex(full_index)

# Step 4: Interpolate missing values per state
Labour_force_state = Labour_force_state.groupby(level=0, group_keys=False).apply(
    lambda group: group.interpolate(method='linear', limit_direction='both')
)

# Step 5: Reset index cleanly
Labour_force_state = Labour_force_state.reset_index()



# multiply by 1000
cols_to_expand = ['labour_force_state', 'employed_persons_state', 'unemployed_persons_state', 'outside_labour_force_state']

Labour_force_state[cols_to_expand] = Labour_force_state[cols_to_expand].apply(lambda x: (x * 1000).astype(int))

# round off unemployed_rate
Labour_force_state['unemployed_rate_state(%)'] = Labour_force_state['unemployed_rate_state(%)'].round(0)

Labour_force_state = Labour_force_state[~Labour_force_state['state'].isin(['W.P. Labuan', 'W.P. Putrajaya'])]

Labour_force_state['state'] = Labour_force_state['state'].replace({
    'W.P. Kuala Lumpur': 'Kuala Lumpur',
})

Labour_force_state

,state,year,labour_force_state,employed_persons_state,unemployed_persons_state,outside_labour_force_state,unemployed_rate_state(%)
0,Johor,1982,653100,630200,22900,345100,4.0
1,Johor,1983,650900,623700,27200,344100,4.0
2,Johor,1984,688200,657300,30900,372100,4.0
3,Johor,1985,710400,672700,37600,354700,5.0
4,Johor,1986,751200,700400,50800,367800,7.0
...,...,...,...,...,...,...,...
583,Kuala Lumpur,2019,863400,841000,22400,369600,3.0
584,Kuala Lumpur,2020,1049500,1006400,43100,408300,4.0
585,Kuala Lumpur,2021,1040700,992500,48300,414000,5.0
586,Kuala Lumpur,2022,1060300,1019700,40500,397300,4.0
587,Kuala Lumpur,2023,1111700,1077900,33900,387200,3.0

In [81]:
tes = Labour_force_state[Labour_force_state["state"] == "Johor"]
tes

,state,year,labour_force_state,employed_persons_state,unemployed_persons_state,outside_labour_force_state,unemployed_rate_state(%)
0,Johor,1982,653100,630200,22900,345100,4.0
1,Johor,1983,650900,623700,27200,344100,4.0
2,Johor,1984,688200,657300,30900,372100,4.0
3,Johor,1985,710400,672700,37600,354700,5.0
4,Johor,1986,751200,700400,50800,367800,7.0
5,Johor,1987,781800,732700,49100,380100,6.0
6,Johor,1988,837000,792000,45100,396500,5.0
7,Johor,1989,861800,822300,39500,439400,5.0
8,Johor,1990,949100,914100,35100,449600,4.0
9,Johor,1991,948100,920050,28100,451800,3.0
10,Johor,1992,947100,926000,21100,454000,2.0
11,Johor,1993,1003000,974300,28700,425600,3.0
12,Johor,1994,959200,933050,26150,460950,3.0
13,Johor,1995,915400,891800,23600,496300,3.0
14,Johor,1996,1018400,996700,21700,508300,2.0
15,Johor,1997,1076900,1058400,18600,516299,2.0
16,Johor,1998,1044300,1027000,17300,565900,2.0
17,Johor,1999,1060400,1029000,31400,608800,3.0
18,Johor,2000,1222400,1195400,27000,604100,2.0
19,Johor,2001,1279000,1235900,43100,666300,3.0
20,Johor,2002,1259000,1222300,36700,628500,3.0
21,Johor,2003,1315300,1269100,46200,631200,4.0
22,Johor,2004,1278800,1232600,46200,650300,4.0
23,Johor,2005,1280000,1237100,42900,693800,3.0
24,Johor,2006,1285800,1258100,27600,726700,2.0
25,Johor,2007,1313600,1286700,26900,745700,2.0
26,Johor,2008,1313100,1283800,29300,790300,2.0
27,Johor,2009,1350000,1306300,43700,791800,3.0
28,Johor,2010,1453500,1418800,34700,819000,2.0
29,Johor,2011,1499900,1461900,38000,816300,2.0
30,Johor,2012,1529400,1481500,47900,821900,3.0
31,Johor,2013,1598900,1553400,45400,771300,3.0
32,Johor,2014,1621100,1579700,41400,778800,3.0
33,Johor,2015,1633200,1582600,50600,799900,3.0
34,Johor,2016,1639100,1580600,58500,820700,4.0
35,Johor,2017,1673800,1616700,57100,824400,3.0
36,Johor,2018,1745100,1693300,51900,788200,3.0
37,Johor,2019,1805700,1756100,49600,761600,3.0
38,Johor,2020,1990900,1920500,70300,826900,4.0
39,Johor,2021,1986700,1913200,73500,832100,4.0
40,Johor,2022,2013400,1949200,64200,818200,3.0
41,Johor,2023,2071300,2017900,53400,833600,3.0

In [82]:
# save data
Labour_force_state.to_parquet("./staging/silver/Labour_force_state_silver_data.parquet", index=False)

# Labour force by national

In [83]:

URL_DATA = './staging/bronze/Labour_force_national_bronze_data.parquet'

Labour_force_national = pd.read_parquet(URL_DATA)

if 'date' in Labour_force_national.columns:
    
    Labour_force_national['date'] = pd.to_datetime(Labour_force_national['date'])
    
    Labour_force_national['year'] = Labour_force_national['date'].dt.year

    Labour_force_national.drop(columns='date', inplace=True)

Labour_force_national = Labour_force_national[["year","lf", "lf_employed", "lf_unemployed", "lf_outside", "u_rate", "p_rate"]].rename(columns={
    "lf": "labour_force_national",
    "lf_employed": "employed_persons_national",
    "lf_unemployed": "unemployed_persons_national",
    "lf_outside": "outside_labour_force_national",
    "u_rate": "unemployed_rate_national(%)",
    "p_rate": "participation_rate_national(%)"
})

# interpolation
# ===================================================

# Ensure year is the index BEFORE reindexing
Labour_force_national = Labour_force_national.set_index('year')

# Create full year range
full_years = pd.Index(range(1982, 2023), name='year')

# Reindex to full year range
Labour_force_national = Labour_force_national.reindex(full_years)

# Define columns to interpolate
col = [
    "labour_force_national",
    "employed_persons_national",
    "unemployed_persons_national",
    "outside_labour_force_national",
    "unemployed_rate_national(%)",
    "participation_rate_national(%)"
]

# Interpolate only existing columns
Labour_force_national[col] = Labour_force_national[col].interpolate(method='linear')


# multiply by 1000
cols_to_expand = ['labour_force_national', 'employed_persons_national', 'unemployed_persons_national', 'outside_labour_force_national']

Labour_force_national[cols_to_expand] = Labour_force_national[cols_to_expand].apply(lambda x: (x * 1000).astype(int))

# round off unemployed_rate
Labour_force_national['unemployed_rate_national(%)'] = Labour_force_national['unemployed_rate_national(%)'].round(0)

# Reset index to bring 'year' back as a column
Labour_force_national = Labour_force_national.reset_index()

Labour_force_national

,year,labour_force_national,employed_persons_national,unemployed_persons_national,outside_labour_force_national,unemployed_rate_national(%),participation_rate_national(%)
0,1982,5431400,5249000,182400,2944600,3.0,64.8
1,1983,5671800,5457000,214900,2969400,4.0,65.6
2,1984,5862500,5566700,295800,3119600,5.0,65.3
3,1985,5990100,5653400,336800,3124900,6.0,65.7
4,1986,6222100,5760100,461900,3188300,7.0,66.1
5,1987,6456800,5983900,472900,3246100,7.0,66.5
6,1988,6637000,6157200,479800,3301500,7.0,66.8
7,1989,6779400,6390900,388500,3463500,6.0,66.2
8,1990,7000200,6685000,315200,3519700,4.0,66.5
9,1991,7159600,6866400,293200,3651649,4.0,66.2
10,1992,7319000,7047800,271200,3783600,4.0,65.9
11,1993,7700100,7383400,316800,3874900,4.0,66.5
12,1994,7796600,7514200,282450,4086300,4.0,65.6
13,1995,7893100,7645000,248100,4297700,3.0,64.7
14,1996,8616000,8399300,216800,4379000,2.0,66.3
15,1997,8784000,8569200,214900,4605100,2.0,65.6
16,1998,8883600,8599600,284000,4934000,3.0,64.3
17,1999,9151500,8837800,313700,5098400,3.0,64.2
18,2000,9556100,9269200,286900,5065100,3.0,65.4
19,2001,9699400,9357000,342400,5239900,4.0,64.9
20,2002,9886200,9542600,343500,5473800,4.0,64.4
21,2003,10239600,9869700,369800,5458600,4.0,65.2
22,2004,10346200,9979500,366600,5730500,4.0,64.4
23,2005,10413400,10045400,368100,6048200,4.0,63.3
24,2006,10628900,10275400,353600,6205100,3.0,63.1
25,2007,10889500,10538100,351400,6330100,3.0,63.2
26,2008,11028100,10659600,368500,6575700,3.0,62.6
27,2009,11315300,10897300,418000,6665700,4.0,62.9
28,2010,12303900,11899500,404400,7023000,3.0,63.7
29,2011,12740700,12351500,389200,7023300,3.0,64.5
30,2012,13221700,12820500,401200,6927400,3.0,65.6
31,2013,13980500,13545400,435100,6781200,3.0,67.3
32,2014,14263600,13852600,411100,6821000,3.0,67.6
33,2015,14518000,14067700,450300,6869900,3.0,67.9
34,2016,14667800,14163700,504100,6987600,3.0,67.7
35,2017,14980100,14476800,503300,7065000,3.0,68.0
36,2018,15280300,14776000,504300,7094400,3.0,68.3
37,2019,15581600,15073400,508200,7103500,3.0,68.7
38,2020,15406000,14719400,686600,7105200,4.0,68.4
39,2021,15532800,14825200,707600,7102300,5.0,68.6
40,2022,15769700,15155200,614500,7000700,4.0,69.3

In [84]:
# save data
Labour_force_national.to_parquet("./staging/silver/Labour_force_national_silver_data.parquet", index=False)

# Household income by state

In [85]:
URL_DATA = './staging/bronze/house_hold_income_state_bronze_data.parquet'

house_hold_income_state = pd.read_parquet(URL_DATA)

if 'date' in house_hold_income_state.columns:
    
    house_hold_income_state['date'] = pd.to_datetime(house_hold_income_state['date'])
    
    house_hold_income_state['year'] = house_hold_income_state['date'].dt.year

    house_hold_income_state.drop(columns='date', inplace=True)
    
    house_hold_income_state.set_index('year', inplace=True)
    
house_hold_income_state = house_hold_income_state.rename(columns={
    'income_mean': 'income_mean_state(RM)',
    'income_median': 'income_median_state(RM)'
})

# fill in the NA with 269.0
house_hold_income_state.fillna(269.0, inplace=True)

# # interpolation
# # ===================================================

# Assuming 'house_hold_income_state' is already loaded
house_hold_income_state = house_hold_income_state.reset_index()  # In case 'year' is index

# Step 1: Define full year range and get all states
year_range = list(range(1970, 2023))
all_states = house_hold_income_state['state'].unique()

# Step 2: Create full multi-index of (state, year)
full_index = pd.MultiIndex.from_product(
    [all_states, year_range], names=['state', 'year']
)

# Step 3: Set multi-index and reindex to fill missing years
house_hold_income_state = house_hold_income_state.set_index(['state', 'year']).reindex(full_index)

# Step 4: Interpolate missing values per state
house_hold_income_state = house_hold_income_state.groupby(level=0, group_keys=False).apply(
    lambda group: group.interpolate(method='linear', limit_direction='both')
)

# Step 5: Reset index cleanly
house_hold_income_state = house_hold_income_state.reset_index()

house_hold_income_state[['income_mean_state(RM)', 'income_median_state(RM)']] = house_hold_income_state[['income_mean_state(RM)', 'income_median_state(RM)']].round(1)

house_hold_income_state = house_hold_income_state[["year", "state", "income_mean_state(RM)","income_median_state(RM)"]]

house_hold_income_state = house_hold_income_state[~house_hold_income_state['state'].isin(['W.P. Labuan', 'W.P. Putrajaya'])]

house_hold_income_state['state'] = house_hold_income_state['state'].replace({
    'W.P. Kuala Lumpur': 'Kuala Lumpur',
})

house_hold_income_state

     year         state  income_mean_state(RM)  income_median_state(RM)
0    1970         Johor                  237.0                    269.0
1    1971         Johor                  273.2                    269.0
2    1972         Johor                  309.5                    269.0
3    1973         Johor                  345.8                    269.0
4    1974         Johor                  382.0                    269.0
..    ...           ...                    ...                      ...
737  2018  Kuala Lumpur                12735.3                  10057.0
738  2019  Kuala Lumpur                13257.0                  10549.0
739  2020  Kuala Lumpur                11728.0                   9093.0
740  2021  Kuala Lumpur                12526.5                   9663.5
741  2022  Kuala Lumpur                13325.0                  10234.0

[742 rows x 4 columns]

In [86]:
house_hold_income_state.isna().any().any()

np.False_

In [87]:
# testing data from each state
test = house_hold_income_state[house_hold_income_state['state'] == 'Sabah']
test

     year  state  income_mean_state(RM)  income_median_state(RM)
477  1970  Sabah                  513.0                    309.0
478  1971  Sabah                  513.0                    309.0
479  1972  Sabah                  513.0                    309.0
480  1973  Sabah                  513.0                    309.0
481  1974  Sabah                  513.0                    309.0
482  1975  Sabah                  513.0                    309.0
483  1976  Sabah                  513.0                    309.0
484  1977  Sabah                  597.7                    370.3
485  1978  Sabah                  682.3                    431.7
486  1979  Sabah                  767.0                    493.0
487  1980  Sabah                  856.0                    544.2
488  1981  Sabah                  945.0                    595.4
489  1982  Sabah                 1034.0                    646.6
490  1983  Sabah                 1123.0                    697.8
491  1984  Sabah                 1212.0                    749.0
492  1985  Sabah                 1180.0                    741.3
493  1986  Sabah                 1148.0                    733.7
494  1987  Sabah                 1116.0                    726.0
495  1988  Sabah                 1190.0                    794.5
496  1989  Sabah                 1264.0                    863.0
497  1990  Sabah                 1339.3                    906.7
498  1991  Sabah                 1414.7                    950.3
499  1992  Sabah                 1490.0                    994.0
500  1993  Sabah                 1542.3                   1040.3
501  1994  Sabah                 1594.7                   1086.7
502  1995  Sabah                 1647.0                   1133.0
503  1996  Sabah                 1852.0                   1261.5
504  1997  Sabah                 2057.0                   1390.0
505  1998  Sabah                 1981.0                   1327.0
506  1999  Sabah                 1905.0                   1264.0
507  2000  Sabah                 2072.0                   1370.3
508  2001  Sabah                 2239.0                   1476.7
509  2002  Sabah                 2406.0                   1583.0
510  2003  Sabah                 2446.5                   1594.5
511  2004  Sabah                 2487.0                   1606.0
512  2005  Sabah                 2603.7                   1467.0
513  2006  Sabah                 2720.3                   1328.0
514  2007  Sabah                 2837.0                   1189.0
515  2008  Sabah                 2969.5                   1627.5
516  2009  Sabah                 3102.0                   2066.0
517  2010  Sabah                 3405.7                   2330.7
518  2011  Sabah                 3709.3                   2595.3
519  2012  Sabah                 4013.0                   2860.0
520  2013  Sabah                 4446.0                   3302.5
521  2014  Sabah                 4879.0                   3745.0
522  2015  Sabah                 5116.5                   3927.5
523  2016  Sabah                 5354.0                   4110.0
524  2017  Sabah                 5484.3                   4151.7
525  2018  Sabah                 5614.7                   4193.3
526  2019  Sabah                 5745.0                   4235.0
527  2020  Sabah                 5215.0                   3773.0
528  2021  Sabah                 5693.0                   4175.0
529  2022  Sabah                 6171.0                   4577.0

In [88]:
# save data
house_hold_income_state.to_parquet("./staging/silver/house_hold_income_state_silver_data.parquet", index=False)

# Household income by national

In [89]:
# get the latest national mean income

URL_DATA = './staging/bronze/house_hold_income_national_bronze_data.parquet'
house_hold_income_national = pd.read_parquet(URL_DATA)

if 'date' in house_hold_income_national.columns: house_hold_income_national['date'] = pd.to_datetime(house_hold_income_national['date'])

if 'date' in house_hold_income_national.columns:
    
    house_hold_income_national['date'] = pd.to_datetime(house_hold_income_national['date'])
    
    house_hold_income_national['year'] = house_hold_income_national['date'].dt.year

    house_hold_income_national.drop(columns='date', inplace=True)
    
    house_hold_income_national.set_index('year', inplace=True)
    
house_hold_income_national = house_hold_income_national.rename(columns={
    'income_mean': 'income_mean_national(RM)',
    'income_median': 'income_median_national(RM)'
})

# interpolation
# ===================================================
# Step 1: Create full year range
full_years = pd.Index(range(1970, 2023), name='year')

# Step 2: Reindex and interpolate (no need for groupby since national data isn't by state)
house_hold_income_national = house_hold_income_national.reindex(full_years)
house_hold_income_national['income_mean_national(RM)'] = house_hold_income_national['income_mean_national(RM)'].interpolate(method='linear')
house_hold_income_national['income_median_national(RM)'] = house_hold_income_national['income_median_national(RM)'].interpolate(method='linear')

house_hold_income_national[['income_mean_national(RM)', 'income_median_national(RM)']] = house_hold_income_national[['income_mean_national(RM)', 'income_median_national(RM)']].round(1)

house_hold_income_national.reset_index('year', inplace=True)

house_hold_income_national

    year  income_mean_national(RM)  income_median_national(RM)
0   1970                     264.0                       166.0
1   1971                     288.5                       181.2
2   1972                     313.0                       196.5
3   1973                     337.5                       211.8
4   1974                     362.0                       227.0
5   1975                     433.5                       267.5
6   1976                     505.0                       308.0
7   1977                     562.7                       348.3
8   1978                     620.3                       388.7
9   1979                     678.0                       429.0
10  1980                     762.0                       487.0
11  1981                     846.0                       545.0
12  1982                     930.0                       603.0
13  1983                    1014.0                       661.0
14  1984                    1098.0                       719.0
15  1985                    1093.0                       725.3
16  1986                    1088.0                       731.7
17  1987                    1083.0                       738.0
18  1988                    1126.0                       777.0
19  1989                    1169.0                       816.0
20  1990                    1301.3                       903.0
21  1991                    1433.7                       990.0
22  1992                    1566.0                      1077.0
23  1993                    1717.3                      1177.0
24  1994                    1868.7                      1277.0
25  1995                    2020.0                      1377.0
26  1996                    2313.0                      1550.5
27  1997                    2606.0                      1724.0
28  1998                    2539.0                      1714.0
29  1999                    2472.0                      1704.0
30  2000                    2651.7                      1819.0
31  2001                    2831.3                      1934.0
32  2002                    3011.0                      2049.0
33  2003                    3130.0                      2130.0
34  2004                    3249.0                      2211.0
35  2005                    3394.7                      2324.7
36  2006                    3540.3                      2438.3
37  2007                    3686.0                      2552.0
38  2008                    3855.5                      2696.5
39  2009                    4025.0                      2841.0
40  2010                    4350.0                      3102.7
41  2011                    4675.0                      3364.3
42  2012                    5000.0                      3626.0
43  2013                    5570.5                      4105.5
44  2014                    6141.0                      4585.0
45  2015                    6549.5                      4906.5
46  2016                    6958.0                      5228.0
47  2017                    7272.3                      5443.0
48  2018                    7586.7                      5658.0
49  2019                    7901.0                      5873.0
50  2020                    7089.0                      5209.0
51  2021                    7784.0                      5773.5
52  2022                    8479.0                      6338.0

In [90]:
# save data
house_hold_income_national.to_parquet("./staging/silver/house_hold_income_national_silver_data.parquet", index=False)

## Household Expenditure state

In [91]:
URL_DATA = './staging/bronze/house_hold_expenditure_bronze_data.parquet'
house_hold_expenditure = pd.read_parquet(URL_DATA)

# Interpolation 
# ===========================================

# Step 1: Define full year range and get all states
year_range = list(range(2016, 2023))
all_states = house_hold_expenditure['state'].unique()

# Step 2: Create full multi-index of (state, year)
full_index = pd.MultiIndex.from_product(
    [all_states, year_range], names=['state', 'year']
)

# Step 3: Set multi-index and reindex to fill missing years
house_hold_expenditure = house_hold_expenditure.set_index(['state', 'year']).reindex(full_index)

# Step 4: Interpolate missing values per state
house_hold_expenditure = house_hold_expenditure.groupby(level=0, group_keys=False).apply(
    lambda group: group.interpolate(method='linear', limit_direction='both')
)

# Step 5: Reset index cleanly
house_hold_expenditure = house_hold_expenditure.reset_index()

house_hold_expenditure[['expenditure_mean_state(RM)', 'expenditure_median_state(RM)']] = house_hold_expenditure[['expenditure_mean_state(RM)', 'expenditure_median_state(RM)']].round(1)

house_hold_expenditure = house_hold_expenditure[
    ["year", "state", "expenditure_mean_state(RM)", "expenditure_median_state(RM)"]
]

house_hold_expenditure = house_hold_expenditure[~house_hold_expenditure['state'].isin(['W.P. Labuan', 'W.P. Putrajaya'])]

house_hold_expenditure['state'] = house_hold_expenditure['state'].replace({
    'W.P. Kuala Lumpur': 'Kuala Lumpur',
})

house_hold_expenditure

     year  state  expenditure_mean_state(RM)  expenditure_median_state(RM)
0    2016  Johor                      4167.0                        3635.0
1    2017  Johor                      4386.7                        3769.3
2    2018  Johor                      4606.3                        3903.7
3    2019  Johor                      4826.0                        4038.0
4    2020  Johor                      4998.0                        4237.3
..    ...    ...                         ...                           ...
107  2018  Sabah                      2733.0                        2223.0
108  2019  Sabah                      2799.0                        2279.0
109  2020  Sabah                      2980.0                        2442.7
110  2021  Sabah                      3161.0                        2606.3
111  2022  Sabah                      3342.0                        2770.0

[98 rows x 4 columns]

In [92]:
# testing data from each state
test = house_hold_expenditure[house_hold_expenditure['year'] == 2022]
test

,year,state,expenditure_mean_state(RM),expenditure_median_state(RM)
6,2022,Johor,5342.0,4636.0
13,2022,Kedah,3765.0,3298.0
20,2022,Kelantan,3505.0,3048.0
27,2022,Melaka,5707.0,4861.0
34,2022,Negeri Sembilan,4678.0,3869.0
41,2022,Pahang,4107.0,3513.0
48,2022,Perak,3903.0,3341.0
55,2022,Pulau Pinang,5322.0,4481.0
62,2022,Perlis,3834.0,3355.0
69,2022,Selangor,6770.0,5747.0
76,2022,Terengganu,4796.0,4216.0
97,2022,Kuala Lumpur,7823.0,6232.0
104,2022,Sarawak,3915.0,3379.0
111,2022,Sabah,3342.0,2770.0

In [93]:
# save data
house_hold_expenditure.to_parquet("./staging/silver/house_hold_expenditure_silver_data.parquet", index=False)

# Relative Poverty compare to state household median income

In [94]:
# Proportion of households with monthly income below half the state median income

URL_DATA = './staging/bronze/house_hold_poverty_state_bronze_data.parquet'

house_hold_poverty_state = pd.read_parquet(URL_DATA)

if 'date' in house_hold_poverty_state.columns:
    
    house_hold_poverty_state['date'] = pd.to_datetime(house_hold_poverty_state['date'])
    
    house_hold_poverty_state['year'] = house_hold_poverty_state['date'].dt.year

    house_hold_poverty_state.drop(columns='date', inplace=True)
    
    house_hold_poverty_state.set_index('year', inplace=True)
    
house_hold_poverty_state = house_hold_poverty_state.reset_index()
house_hold_poverty_state = house_hold_poverty_state[['year', 'state', 'poverty_relative']]
house_hold_poverty_state = house_hold_poverty_state.rename(columns={'poverty_relative': 'poverty_relative_state_median_income(%)'})

house_hold_poverty_state = house_hold_poverty_state.dropna()


# interpolation
# ========================================


# Generate full index
year_range = list(range(2016, 2023))
all_states = house_hold_poverty_state['state'].unique()

full_index = pd.MultiIndex.from_product(
    [all_states, year_range], names=['state', 'year']
)

# Reindex and interpolate
house_hold_poverty_state = house_hold_poverty_state.set_index(['state', 'year']).reindex(full_index)

house_hold_poverty_state = house_hold_poverty_state.groupby(level=0, group_keys=False).apply(
    lambda group: group.interpolate(method='linear', limit_direction='both')
)

# Final clean index
house_hold_poverty_state = house_hold_poverty_state.reset_index()


# Round to 2 decimal places
house_hold_poverty_state['poverty_relative_state_median_income(%)'] = house_hold_poverty_state['poverty_relative_state_median_income(%)'].round(0)

house_hold_poverty_state = house_hold_poverty_state[~house_hold_poverty_state['state'].isin(['W.P. Labuan', 'W.P. Putrajaya'])]

house_hold_poverty_state['state'] = house_hold_poverty_state['state'].replace({
    'W.P. Kuala Lumpur': 'Kuala Lumpur',
})

house_hold_poverty_state

           state  year  poverty_relative_state_median_income(%)
0          Johor  2016                                     14.0
1          Johor  2017                                     14.0
2          Johor  2018                                     15.0
3          Johor  2019                                     15.0
4          Johor  2020                                     14.0
..           ...   ...                                      ...
93  Kuala Lumpur  2018                                     12.0
94  Kuala Lumpur  2019                                     11.0
95  Kuala Lumpur  2020                                      9.0
96  Kuala Lumpur  2021                                     11.0
97  Kuala Lumpur  2022                                     13.0

[98 rows x 3 columns]

In [95]:
# testing data from each state
test = house_hold_poverty_state[house_hold_poverty_state['state'] == 'Selangor']
test

       state  year  poverty_relative_state_median_income(%)
77  Selangor  2016                                     11.0
78  Selangor  2017                                     12.0
79  Selangor  2018                                     14.0
80  Selangor  2019                                     15.0
81  Selangor  2020                                     14.0
82  Selangor  2021                                     14.0
83  Selangor  2022                                     14.0

In [96]:
house_hold_poverty_state

           state  year  poverty_relative_state_median_income(%)
0          Johor  2016                                     14.0
1          Johor  2017                                     14.0
2          Johor  2018                                     15.0
3          Johor  2019                                     15.0
4          Johor  2020                                     14.0
..           ...   ...                                      ...
93  Kuala Lumpur  2018                                     12.0
94  Kuala Lumpur  2019                                     11.0
95  Kuala Lumpur  2020                                      9.0
96  Kuala Lumpur  2021                                     11.0
97  Kuala Lumpur  2022                                     13.0

[98 rows x 3 columns]

In [97]:
# save data
house_hold_poverty_state.to_parquet("./staging/silver/house_hold_poverty_state_silver_data.parquet", index=False)

## Relative Poverty compare to national household median income

In [98]:
URL_DATA = './staging/bronze/house_hold_poverty_national_bronze_data.parquet'


house_hold_poverty_national = pd.read_parquet(URL_DATA)

if 'date' in house_hold_poverty_national.columns:
    
    house_hold_poverty_national['date'] = pd.to_datetime(house_hold_poverty_national['date'])
    
    house_hold_poverty_national['year'] = house_hold_poverty_national['date'].dt.year

    house_hold_poverty_national.drop(columns='date', inplace=True)
    
    house_hold_poverty_national.set_index('year', inplace=True)
    
house_hold_poverty_national.reset_index('year', inplace=True)

house_hold_poverty_national = house_hold_poverty_national[["year", "poverty_relative"]]


house_hold_poverty_national = house_hold_poverty_national.rename(columns={
    'poverty_relative': 'poverty_relative_national_median_income(%)'
})

# interpolation
# ========================================

# Step 1: Set 'year' as index
house_hold_poverty_national = house_hold_poverty_national.set_index('year')

# Step 2: Create full year index from 2016 to 2022
full_years = pd.Index(range(1995, 2023), name='year')

# Step 3: Reindex to include missing years
house_hold_poverty_national = house_hold_poverty_national.reindex(full_years)

# Step 4: Interpolate poverty values
house_hold_poverty_national['poverty_relative_national_median_income(%)'] = house_hold_poverty_national['poverty_relative_national_median_income(%)'].interpolate(method='linear')

# Optional: Reset index back to column if needed
house_hold_poverty_national = house_hold_poverty_national.reset_index()

house_hold_poverty_national['poverty_relative_national_median_income(%)'] = house_hold_poverty_national['poverty_relative_national_median_income(%)'].round(0)


house_hold_poverty_national

    year  poverty_relative_national_median_income(%)
0   1995                                        20.0
1   1996                                        20.0
2   1997                                        20.0
3   1998                                        19.0
4   1999                                        19.0
5   2000                                        19.0
6   2001                                        20.0
7   2002                                        20.0
8   2003                                        20.0
9   2004                                        20.0
10  2005                                        19.0
11  2006                                        18.0
12  2007                                        17.0
13  2008                                        18.0
14  2009                                        19.0
15  2010                                        19.0
16  2011                                        19.0
17  2012                                        19.0
18  2013                                        17.0
19  2014                                        16.0
20  2015                                        16.0
21  2016                                        16.0
22  2017                                        16.0
23  2018                                        17.0
24  2019                                        17.0
25  2020                                        16.0
26  2021                                        16.0
27  2022                                        17.0

In [99]:
# save data
house_hold_poverty_national.to_parquet("./staging/silver/house_hold_poverty_national_silver_data.parquet", index=False)